services/api/app/.env
services/api/app/__pycache__/
shared/schemas/__pycache__/__init__.cpython-310.pyc
shared/schemas/__pycache__/system_schemas.cpython-310.pyc
services/mqtt_broker/logs/
services/mqtt_broker/passwd
