GOTIFY_TOKEN=your_app_token_here
LOG_FORMAT=colored
LOG_LEVEL=INFO
RABBITMQ_MANAGEMENT_URL=http://rabbitmq:15672
RABBITMQ_MANAGEMENT_USER=guest
RABBITMQ_MANAGEMENT_PASS=guest
RABBITMQ_QUEUE_NAME=observations
API_URL=http://api:8000
API_CLIENT_ID=notifier
API_CLIENT_SECRET=notifier-secret
CHECK_INTERVAL_HEARTBEAT=300